.header {
    text-align: center;
    padding: 60px;
    background-color: #192847;
    color: white;
    font-family: Arial, sans-serif;
}

.instructions {
    margin-left: 360px;
    margin-right: 360px;
    font-family: Arial, sans-serif;
}

#instructions_paragraph {
    margin-left: 360px;
    margin-right: 360px;
    font-family: Arial, sans-serif;
}

#ap_exam_header {
    margin-left: 360px;
    margin-right: 360px;
    font-family: Arial, sans-serif;
}

#exam_name_header {
    width: 50%;
    float: left;
    height: 50px;
    text-decoration: underline;
}

#exam_score_header {
    margin-left: 50%;
    height: 50px;
    text-decoration: underline;
}

.exam {
    margin-left: 360px;
    margin-right: 360px;
    font-family: Arial, sans-serif;
}

.exam_name {
    float: left;
}

.exam_score {
    margin-left: 50%;
}

#button_div {
    text-align: center;
}

#calculate_btn {
    background-color: #192847;
    color: #FBCB07;
    border: none;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Arial, sans-serif;
}

.shaded_tr {
    background-color: #F0F0F0;
}

thead {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.numerical_td {
    text-align: left;
}

.text_td {
    text-align: left;
}

.footer {
    text-align: center;
    padding: 60px;
    font-family: Arial, sans-serif;
}

.disclaimer {
    text-align: center;
    font-family: Arial, sans-serif;
}


/*.college {*/
/*    white-space: pre-line;*/
/*}*/
