<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCSD AP Credit Calculator</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>

<h1 class="header">UCSD AP Credit Calculator</h1>

<h2 class="instructions">How to Use This Calculator</h2>

<p id="instructions_paragraph">
    1. Select the AP courses that you have completed and/or plan to complete.
    <br>
    2. Click the "Calculate Credits" button.
    <br>
    3. View which credits have been applied below.
</p>

<br>


<!-- Header consisting of AP Exam Name, AP Score -->
<div id="ap_exam_header">
    <div id="exam_name_header">
        AP Exam
    </div>

    <div id="exam_score_header">
        Score
    </div>
</div>

<!-- Check boxes for each AP Course -->
<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="2d" name="AP 2-D Art and Design"
               onclick="getElementById('2d_score').focus()">
        <label for="2d">2-D Art And Design</label>
    </div>

    <div class="exam_score">
        <input type="text" class="exam_text" id="2d_score" name="2d_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="3d" name="AP 3-D Art and Design"
               onclick="getElementById('3d_score').focus()">
        <label for="3d">3-D Art And Design</label>
    </div>

    <div class="exam_score">
        <input type="text" class="exam_text" id="3d_score" name="3d_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="art" name="AP Art History"
               onclick="getElementById('art_score').focus()">
        <label for="art">Art History</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="art_score" name="art_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="bio" name="AP Biology"
               onclick="getElementById('bio_score').focus()">
        <label for="bio">Biology</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="bio_score" name="bio_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="calcab" name="AP Calculus AB"
               onclick="getElementById('calcab_score').focus()">
        <label for="calcab">Calculus AB</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="calcab_score" name="calcab_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="calcbc" name="AP Calculus BC"
               onclick="getElementById('calcbc_score').focus()">
        <label for="calcbc">Calculus BC</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="calcbc_score" name="calcbc_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="chem" name="AP Chemistry"
               onclick="getElementById('chem_score').focus()">
        <label for="chem">Chemistry</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="chem_score" name="chem_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="chin" name="AP Chinese Language and Culture"
               onclick="getElementById('chin_score').focus()">
        <label for="chin">Chinese Language and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="chin_score" name="chin_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="comp_gov" name="AP Comparative Government and Politics"
               onclick="getElementById('comp_gov_score').focus()">
        <label for="comp_gov">Comparative Government and Politics</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="comp_gov_score" name="comp_gov_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="csa" name="AP Computer Science A"
               onclick="getElementById('csa_score').focus()">
        <label for="csa">Computer Science A</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="csa_score" name="csa_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="csp" name="AP Computer Science Principles"
               onclick="getElementById('csp_score').focus()">
        <label for="csp">Computer Science Principles</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="csp_score" name="csp_score" size="5">
    </div>
</div>

<br>
<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="draw" name="AP Drawing"
               onclick="getElementById('draw_score').focus()">
        <label for="draw">Drawing</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="draw_score" name="draw_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="englang" name="AP English Language and Composition"
               onclick="getElementById('englang_score').focus()">
        <label for="englang">English Language and Composition</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="englang_score" name="englang_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="englit" name="AP English Literature and Composition"
               onclick="getElementById('englit_score').focus()">
        <label for="englit">English Literature and Composition</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="englit_score" name="englit_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="env" name="AP Environmental Science"
               onclick="getElementById('env_score').focus()">
        <label for="env">Environmental Science</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="env_score" name="env_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="euro" name="AP European History"
               onclick="getElementById('euro_score').focus()">
        <label for="euro">European History</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="euro_score" name="euro_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="fren" name="AP French Language and Culture"
               onclick="getElementById('fren_score').focus()">
        <label for="fren">French Language and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="fren_score" name="fren_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="ger" name="AP German Language and Culture"
               onclick="getElementById('ger_score').focus()">
        <label for="ger">German Language and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="ger_score" name="ger_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="hum" name="AP Human Geography"
               onclick="getElementById('hum_score').focus()">
        <label for="hum">Human Geography</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="hum_score" name="hum_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="ita" name="AP Italian Language and Culture"
               onclick="getElementById('ita_score').focus()">
        <label for="ita">Italian Language and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="ita_score" name="ita_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="jap" name="AP Japanese Language and Culture"
               onclick="getElementById('jap_score').focus()">
        <label for="jap">Japanese Language and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="jap_score" name="jap_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="lat" name="AP Latin"
               onclick="getElementById('lat_score').focus()">
        <label for="lat">Latin</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="lat_score" name="lat_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="mac" name="AP Macroeconomics"
               onclick="getElementById('mac_score').focus()">
        <label for="mac">Macroeconomics</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="mac_score" name="mac_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="mic" name="AP Microeconomics"
               onclick="getElementById('mic_score').focus()">
        <label for="mic">Microeconomics</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="mic_score" name="mic_score" size="5">
    </div>
</div>

<br>


<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="mus" name="AP Music Theory"
               onclick="getElementById('mus_score').focus()">
        <label for="mus">Music Theory</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="mus_score" name="mus_score" size="5">
    </div>
</div>


<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="phys1" name="AP Physics 1: Algebra-Based"
               onclick="getElementById('phys1_score').focus()">
        <label for="phys1">Physics 1: Algebra-Based</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="phys1_score" name="phys1_score" size="5">
    </div>
</div>


<br>


<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="phys2" name="AP Physics 2: Algebra-Based"
               onclick="getElementById('phys2_score').focus()">
        <label for="phys2">Physics 2: Algebra-Based</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="phys2_score" name="phys2_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="phys_em" name="AP Physics C: Electricity and Magnetism"
               onclick="getElementById('phys_em_score').focus()">
        <label for="phys_em">Physics C: Electricity and Magnetism</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="phys_em_score" name="phys_em_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="phys_mech" name="AP Physics C: Mechanics"
               onclick="getElementById('phys_mech_score').focus()">
        <label for="phys_mech">Physics C: Mechanics</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="phys_mech_score" name="phys_mech_score" size="5">
    </div>
</div>

<br>


<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="psy" name="AP Psychology"
               onclick="getElementById('psy_score').focus()">
        <label for="psy">Psychology</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="psy_score" name="psy_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="research" name="AP Research"
               onclick="getElementById('research_score').focus()">
        <label for="research">Research</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="research_score" name="research_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="seminar" name="AP Seminar"
               onclick="getElementById('seminar_score').focus()">
        <label for="seminar">Seminar</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="seminar_score" name="seminar_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="spla" name="AP Spanish Language and Culture"
               onclick="getElementById('spla_score').focus()">
        <label for="spla">Spanish Language and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="spla_score" name="spla_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="spli" name="AP Spanish Literature and Culture"
               onclick="getElementById('spli_score').focus()">
        <label for="spli">Spanish Literature and Culture</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="spli_score" name="spli_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="stat" name="AP Statistics"
               onclick="getElementById('stat_score').focus()">
        <label for="stat">Statistics</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="stat_score" name="stat_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="us_gov" name="AP United States Government and Politics"
               onclick="getElementById('us_gov_score').focus()">
        <label for="us_gov">United States Government and Politics</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="us_gov_score" name="us_gov_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="us_hist" name="AP United States History"
               onclick="getElementById('us_hist_score').focus()">
        <label for="us_hist">United States History</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="us_hist_score" name="us_hist_score" size="5">
    </div>
</div>

<br>

<div class="exam">
    <div class="exam_name">
        <input type="checkbox" class="exam_checkbox" id="world_hist" name="AP World History: Modern"
               onclick="getElementById('world_hist_score').focus()">
        <label for="world_hist">World History: Modern</label>
    </div>
    <div class="exam_score">
        <input type="text" class="exam_text" id="world_hist_score" name="world_hist_score" size="5">
    </div>
</div>

<!-- End of AP courses -->

<!-- College results -->
<br>
<br>
<br>

<div id="button_div">
    <button id="calculate_btn">Calculate credits</button>
</div>

<br>
<br>
<br>

<!-- 1st Table of results -->
<table id="mar_muir_rev_table">
    <!-- Table headers -->
    <thead>
    <tr>
        <th>Category</th>
        <th>Marshall</th>
        <th>Muir</th>
        <th>Revelle</th>
    </tr>
    </thead>

    <tbody>
    <tr class="shaded_tr">
        <th>Unit total</th>
        <td class="numerical_td" id="marshall_unit_total_td"></td>
        <td class="numerical_td" id="muir_unit_total_td"></td>
        <td class="numerical_td" id="revelle_unit_total_td"></td>
    </tr>

    <tr>
        <th>Credited AP courses</th>
        <td class="text_td" id="marshall_ap_td">
            <ul id="marshall_ap_ul"></ul>
        </td>
        <td class="text_td" id=muir_ap_td>
            <ul id="muir_ap_ul"></ul>
        </td>
        <td class="text_td" id="revelle_ap_td">
            <ul id="revelle_ap_ul"></ul>
        </td>
    </tr>

    <tr class="shaded_tr">
        <th>Number of units credited</th>
        <td class="numerical_td" id="marshall_cr_td"></td>
        <td class="numerical_td" id="muir_cr_td"></td>
        <td class="numerical_td" id="revelle_cr_td"></td>
    </tr>

    <tr>
        <th>Remaining units</th>
        <td class="numerical_td" id="marshall_rem_td"></td>
        <td class="numerical_td" id="muir_rem_td"></td>
        <td class="numerical_td" id="revelle_rem_td"></td>
    </tr>
    </tbody>
</table>

<br>
<br>
<br>

<!-- 2nd Table of Results -->
<table id="roo_sev_six_table">
    <!-- Table headers -->
    <thead>
    <tr>
        <th>Category</th>
        <th>Roosevelt</th>
        <th>Seventh</th>
        <th>Sixth</th>
    </tr>
    </thead>

    <tbody>
    <tr class="shaded_tr">
        <th>Unit total</th>
        <td class="numerical_td" id="roosevelt_unit_total_td"></td>
        <td class="numerical_td" id="seventh_unit_total_td"></td>
        <td class="numerical_td" id="sixth_unit_total_td"></td>
    </tr>

    <tr>
        <th>Credited AP courses</th>
        <td class="text_td" id="roosevelt_ap_td">
            <ul id="roosevelt_ap_ul"></ul>
        </td>
        <td class="text_td" id=seventh_ap_td>
            <ul id="seventh_ap_ul"></ul>
        </td>
        <td class="text_td" id="sixth_ap_td">
            <ul id="sixth_ap_ul"></ul>
        </td>
    </tr>

    <tr class="shaded_tr">
        <th>Number of units credited</th>
        <td class="numerical_td" id="roosevelt_cr_td"></td>
        <td class="numerical_td" id="seventh_cr_td"></td>
        <td class="numerical_td" id="sixth_cr_td"></td>
    </tr>

    <tr>
        <th>Remaining units</th>
        <td class="numerical_td" id="roosevelt_rem_td"></td>
        <td class="numerical_td" id="seventh_rem_td"></td>
        <td class="numerical_td" id="sixth_rem_td"></td>
    </tr>
    </tbody>
</table>

<br>
<br>
<br>

<!-- 3rd table -->
<table id="warr_gen_table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Warren</th>
    </tr>
    </thead>

    <tbody>
    <tr class="shaded_tr">
        <th>General unit total</th>
        <td class="numerical_td" id="warren_gen_unit_total_td"></td>
    </tr>

    <tr>
        <th>Credited AP courses</th>
        <td class="text_td" id="warren_gen_ap_td">
            <ul id="warren_gen_ap_ul"></ul>
        </td>
    </tr>
    </tbody>
</table>

<br>
<br>
<br>

<!-- 4th table: Warren PofC -->
<table id="warr_pofc_table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Warren: Programs of Concentration (PofC)</th>
    </tr>
    </thead>

    <tbody>
    <tr class="shaded_tr">
        <th>PofC unit total</th>
        <td class="numerical_td" id="warren_pofc_unit_total_td"></td>
    </tr>

    <tr>
        <th>Humanities and Fine Arts: credited AP courses</th>
        <td class="text_td" id="warren_pofc_hum_ap_td">
            <ul id="warren_pofc_hum_ap_ul"></ul>
        </td>
    </tr>

    <tr class="shaded_tr">
        <th>Social Sciences: credited AP courses</th>
        <td class="text_td" id="warren_pofc_soc_ap_td">
            <ul id="warren_pofc_soc_ap_ul"></ul>
        </td>
    </tr>

    <tr>
        <th>Math, Natural Sciences, and Engineering: credited AP courses</th>
        <td class="text_td" id="warren_sci_ap_td">
            <ul id="warren_pofc_sci_ap_ul"></ul>
        </td>
    </tr>

    <tr class="shaded_tr">
        <th>Humanities and Fine Arts + Social Sciences: remaining units</th>
        <td class="numerical_td" id="warren_pofc_rem_hum_soc">
        </td>
    </tr>

    <tr>
        <th>Humanities and Fine Arts + Math, Natural Sciences, and Engineering: remaining units</th>
        <td class="numerical_td" id="warren_pofc_rem_hum_sci">
        </td>
    </tr>

    <tr class="shaded_tr">
        <th>Social Sciences + Math, Natural Sciences and Engineering: remaining units</th>
        <td class="numerical_td" id="warren_pofc_rem_soc_sci">
        </td>
    </tr>

    </tbody>
</table>

<br>
<br>
<br>

<!-- 5th table: Warren AS -->
<table id="warr_as_table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Warren: Area Studies (AS)</th>
    </tr>
    </thead>

    <tbody>
    <tr class="shaded_tr">
        <th>AS unit total</th>
        <td class="numerical_td" id="warren_as_unit_total_td"></td>
    </tr>

    <tr>
        <th>Humanities and Fine Arts: credited AP courses</th>
        <td class="text_td" id="warren_as_hum_td">
            <ul id="warren_as_hum_ul"></ul>
        </td>
    </tr>

    <tr class="shaded_tr">
        <th>Social Sciences: credited AP courses</th>
        <td class="text_td" id="warren_as_soc_td">
            <ul id="warren_as_soc_ul"></ul>
        </td>
    </tr>

    <tr>
        <th>Remaining units</th>
        <td class="numerical_td" id="warren_as_rem_td"></td>
    </tr>
    </tbody>
</table>

<!-- Footer -->
<br>
<br>
<br>
<hr>
<p class="disclaimer">This calculator is based on the 2020-2021 academic year requirements, which can be found
    <a href="https://www.ucsd.edu/catalog/pdf/APC-chart.pdf" target="_blank">here.</a>
</p>

<p class="disclaimer">
    Disclaimer: This tool is accurate to the best of my knowledge. If you find any inaccuracies, please let me
    know at
    <a href="mailto: a1le@ucsd.edu">a1le@ucsd.edu.</a>
</p>

<p class="disclaimer">
    This application is neither sponsored by nor affiliated with the University of California, San Diego.
</p>


<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/getExamInput.js"></script>
<script src="../static/js/unorderedListIsEmpty.js"></script>
<script src="../static/js/displayCredits.js"></script>

<script>
    $('#calculate_btn').click(function () {
            let courses = getExamInput();
            console.log(courses);
            // Request the results of applying the AP courses as credit

            $.ajax({
                    type: 'GET',
                    data: {"courses": courses},
                    url: '/data',
                    success: function (response) {
                        console.log("Success");
                        const results = response.results;

                        const revelle = results[0];
                        const muir = results[1];
                        const marshall = results[2];
                        const warren = results[3];
                        const roosevelt = results[4];
                        const sixth = results[5];
                        const seventh = results[6];

                        // Update the view with the results from each college

                        document.getElementById("marshall_unit_total_td").textContent = marshall.unit_total;
                        displayCredits("marshall_ap_ul", marshall.applied_credits);
                        document.getElementById("marshall_cr_td").textContent = marshall.credited_units;
                        document.getElementById("marshall_rem_td").textContent = marshall.net_units;

                        document.getElementById("muir_unit_total_td").textContent = muir.unit_total;
                        displayCredits("muir_ap_ul", muir.applied_credits);
                        document.getElementById("muir_cr_td").textContent = muir.credited_units;
                        document.getElementById("muir_rem_td").textContent = muir.net_units;

                        document.getElementById("revelle_unit_total_td").textContent = revelle.unit_total;
                        displayCredits("revelle_ap_ul", revelle.applied_credits);
                        document.getElementById("revelle_cr_td").textContent = revelle.credited_units;
                        document.getElementById("revelle_rem_td").textContent = revelle.net_units;

                        document.getElementById("roosevelt_unit_total_td").textContent = roosevelt.unit_total;
                        displayCredits("roosevelt_ap_ul", roosevelt.applied_credits);
                        document.getElementById("roosevelt_cr_td").textContent = roosevelt.credited_units;
                        document.getElementById("roosevelt_rem_td").textContent = roosevelt.net_units;


                        document.getElementById("seventh_unit_total_td").textContent = seventh.unit_total;
                        displayCredits("seventh_ap_ul", seventh.applied_credits);
                        document.getElementById("seventh_cr_td").textContent = seventh.credited_units;
                        document.getElementById("seventh_rem_td").textContent = seventh.net_units;


                        document.getElementById("sixth_unit_total_td").textContent = sixth.unit_total;
                        displayCredits("sixth_ap_ul", sixth.applied_credits);
                        document.getElementById("sixth_cr_td").textContent = sixth.credited_units;
                        document.getElementById("sixth_rem_td").textContent = sixth.net_units;

                        document.getElementById("warren_gen_unit_total_td").textContent = warren.gen_unit_total;
                        console.log(document.getElementById("warren_gen_ap_ul"));
                        displayCredits("warren_gen_ap_ul", warren.gen_applied_credits);

                        // PofC table
                        document.getElementById("warren_pofc_unit_total_td").textContent = warren.pofc_unit_total;
                        displayCredits("warren_pofc_hum_ap_ul", warren.pofc_hum_applied_credits);
                        displayCredits("warren_pofc_soc_ap_ul", warren.pofc_soc_applied_credits);
                        displayCredits("warren_pofc_sci_ap_ul", warren.pofc_sci_applied_credits);
                        document.getElementById("warren_pofc_rem_hum_soc").textContent = warren.pofc_hum_soc_net_units;
                        document.getElementById("warren_pofc_rem_hum_sci").textContent = warren.pofc_hum_sci_net_units;
                        document.getElementById("warren_pofc_rem_soc_sci").textContent = warren.pofc_soc_sci_net_units;

                        // AS table
                        document.getElementById("warren_as_unit_total_td").textContent = warren.as_unit_total;
                        displayCredits("warren_as_hum_ul", warren.as_hum_applied_credits);
                        displayCredits("warren_as_soc_ul", warren.as_soc_applied_credits);
                        document.getElementById("warren_as_rem_td").textContent = warren.as_hum_soc_net_units;

                        console.log(results);
                    }
                }
            ); // end query
        }
    ); // end event handler
</script>

</body>
</html>